.home {
    position: relative;
    background: url('../../images/back.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__links {
    z-index: 3;
    height: 30%;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.home__links a {
    margin: 20px 0;
    width: 300px;
    height: 60px;
    font-size: 28px;
    line-height: 64px;
    background-color: #092F63;
    border-radius: 10px;
    text-align: center;
    color: white;
    transition: all .4s;
}
.home__links a:hover {
    background-color: #082854;
}

.home-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    background-color: #0828545a;
}
@media screen and (max-width: 460px) {
    .home__links {
        width: 30%;
    }
    .home__links a {
        font-size: 24px;
    }
}