.nv {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: #082854;
    display: flex;
}

/*.authorization {*/
/*    margin-left: 700px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.links a {
    font-size: 1.1rem;
}
.menuLinks {
    font-size: 1.3rem;
}

@media (max-width: 1000px) {
    .links a {
        font-size: 2rem;
        text-align: center;
    }
    .menuLinks {
        font-size: 2.2rem;
    }
}

@media (max-width: 800px) {
    .mobile_btn {
        display: block;
        position: absolute;
        right: 10px;
        cursor: pointer;
        z-index: 10;
        top: 28px;
    }
    .links a {
        font-size: 1.8rem;
        text-align: center;
    }
    .menuLinks {
        font-size: 2rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: #f8f8f8;
        z-index: 10;
        transition: left 1s;
    }

    .act {
        left: 0;
    }
}

