.players-container {
    padding: 5px;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.players-title {
    text-align: center;
    font-size: 2.2rem;
}

.parts-table-wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 98%;
}

.parts-table {
    margin: 0 auto;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid;
}

.players-table-name {
    width: 40%;
}
.players-table-info th {
    font-weight: 500;
}
.table-checkbox {
    accent-color: #082854;
    cursor: pointer;
}
