.choice {
    position: relative;
    /* background: url('../../images/back.jpg'); */
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}
.choice h2 {
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
}
.choice__links {
    z-index: 3;
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice__links a {
    margin: 20px;
    width: 300px;
    height: 60px;
    font-size: 28px;
    line-height: 64px;
    background-color: #092F63;
    border-radius: 10px;
    text-align: center;
    color: white;
    transition: all .4s;
}
.choice__links a:hover {
    background-color: #082854;
}
/* .choice-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    background-color: #0828545a;
} */
.choice-description {
    width: 50%;
    margin: 0 auto;
    height: 1.7rem;
    overflow-y: hidden;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    line-height: normal;
    font-weight: 700;
    z-index: 3;
    transition: all .4s;
}
.choice-description.active {
    height: max-content;
    overflow-y: visible;
}

.show-btn {
    all: unset;
    font-weight: 900;
    padding: 5px 10px;
    font-size: 1.1rem;
    z-index: 4;
}

.choice-description-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 800px) {
    .choice__links {
        flex-direction: column;
    }
    .choice-description {
        width: 98%;
    }
}