* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    position: relative;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 12px;
    }
}