.competitions-title {
    font-size: 2.8rem;
    letter-spacing: 0.1cm;
    font-weight: 900;
    text-align: center;
}
.competitions-mask {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.732);
}
.competitions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.competitions-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}